h3 {
  float: right;
  font-size: 18px;
  font-weight: 700!important;
  margin-top: 20px;
  padding-right: 10px;
  width: 100%;
}
h3, h4 {
  color: #e87e04!important;
}
table th{
  color: #333;
  text-align: center !important;
}
table tr td{
  border: 1px solid #ddd;
  text-align: center !important;
  padding: 5px;
}
