

<div class="pos" >
 <img title="بستن" (click)="close()" class="img" src="../../../../assets/icon/close.png"/>
 <img title="دانلود" (click)="click($event)" class="img" src="../../../../assets/icon/download.png"/>
 <img title="بزرگ نمائی" (click)="imagePopupZoom()" class="img" src="../../../../assets/icon/zoom.png"/>
<div style="position: relative;top: 0;">
  <ng-image-slider
    #nav
    [images]="images"
    [manageImageRatio]="true"
    [infinite]="infinite"
    [animationSpeed]="animationSpeed"
    [imagePopup]="false"
    [imageSize]="{width: '100%', height: 442, space: 10}"
    slideImage="1">
  </ng-image-slider>
</div>
</div>



