<app-toolbar></app-toolbar>
<!--begin::Content-->
<!--begin::Content-->
<div id="kt_app_content" class="app-content flex-column-fluid" style="background: white;margin: 20px;border-radius: 8px;margin-top: 0px;">
  <!--begin::Content container-->
  <div id="kt_app_content_container" class="" style="padding: 20px;">
    <button class="btn btn-danger">test</button>
    <!--begin::Row-->
    <div class="row g-5 g-xl-10 mb-5 mb-xl-10">
    </div>
    <!--end::Row-->
  </div>
  <!--end::Content container-->
</div>
<!--end::Content-->
