table th{
  color: #333;
  text-align: center !important;
}
table tr td{
  border: 1px solid #ddd;
  text-align: center !important;
  padding: 5px;
}
@media (min-width: 576px) {
  .modal-dialog {
    max-width: 1700px;
    margin-left: auto;
    margin-right: auto;
  }
}
h3, h4 {
  color: #e87e04!important;
}
