<div class="container-fluid">
  <div class="page-head row margin-top-20">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title col-md-10">
      <h1 style="margin-top: 8px">درخواست های فعال با اطلاعات بیشتر </h1>
    </div>
    <div id="buttonGetDiv" class="col-md-2">
      <!-- END PAGE TITLE -->
    </div>
  </div>
</div>



    <!--****************************-->
    <!--****************************-->
    <!--****************************-->




<div class="page-content MainDivMaster">
  <div class="container-fluid">

    <!-- BEGIN PAGE BREADCRUMB -->
    <ul class="page-breadcrumb breadcrumb hide">
      <li>
        <a href="javascript:;">صفحه اصلی</a><i class="fa fa-circle"></i>
      </li>
      <li class="active">
        مسیر نهایی
      </li>
    </ul>
    <!-- END PAGE BREADCRUMB -->
    <div class="page-content-inner">
      <!-- BEGIN PAGE CONTENT INNER -->

      <form novalidate="novalidate">
        <fieldset>
          <legend> اطلاعات مرحله و شهر </legend>
          <div class="container-fluid">
            <h3>انتخاب مرحله و شهر</h3>
            <div class="row">
              <div class="form-group col-md-5">
                <label class="control-label col-md-2">
                  شهر:
                </label>
                <div class="col-md-9" style="margin-right: 60px;margin-top: -26px;position: relative;">
                  <img src="../../../assets/icon/down.png" style="position: absolute;top: 15px;right: 353px;width: 14px;"/>
                  <select class="form-control" id="city" name="city" aria-invalid="false"><option value="">مشخص کنید</option>
                    <option value="dytImn3e42xeO8rU1ysoSGjOKQo2ooto2oot">فریمان</option>
                    <option value="8gTBzcN4RGwAix5ZA3osUAo2ooto2oot">بخش مرکزی فریمان</option>
                    <option value="ou2ws0DK60SZj0ii5UHS8wo2ooto2oot">فرهادگرد</option>
                    <option value="MBoX7preWZKpo1xrazZJBl9oCQo2ooto2oot">سفید سنگ</option>
                    <option value="G8ZMMD48po1xr4a01kfc7BKnwQo2ooto2oot">قلندر آباد</option>
                    <option value="wmn3e4XLQf8Y81Vx1CBmO4hJLAo2ooto2oot">بخش قلندرآباد</option>
                  </select>
                </div>
              </div>
              <div class="form-group col-md-5">


                <label class="control-label col-md-2">
                  مرحله:
                </label>
                <div  style="margin-right: 60px;margin-top: -26px;">
                  <div class="card flex justify-content-center">
                    <p-dropdown [style]="{'width':'100%'}" [options]="countries" [ngModelOptions]="{standalone: true}" [(ngModel)]="selectedCountry" optionLabel="name" [filter]="true" filterBy="name" [showClear]="true" placeholder="مشخص کنید...">
                      <ng-template pTemplate="selectedItem">
                        <div class="flex align-items-center gap-2" *ngIf="selectedCountry">
                          <div>{{ selectedCountry.name }}</div>
                        </div>
                      </ng-template>
                      <ng-template let-country pTemplate="item">
                        <div class="flex align-items-center gap-2">
                          <div>{{ country.name }}</div>
                        </div>
                      </ng-template>
                    </p-dropdown>
                  </div>
                </div>





              </div>


              <div class="col-md-2">
                <button id="FlowWithInfoBtn" class="btn btn-block btn-success" type="button" disabled="disabled">مشاهده</button>
              </div>

            </div>
          </div>



<!--        /////////table-->

          <div style="margin-top: 30px;padding: 25px;border: 1px solid black;margin: 10px;border-radius: 10px;">
            <!--begin::Table-->
            <table class="align-middle fs-6 gy-5 table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
                   [dtTrigger]="dtTrigger">
              <!--begin::Table head-->
              <thead style="background-color: #d9edf7;">
              <tr>
                <th  style="background-color: #67809f!important;width: 100%;border-left-width: 1px;text-align: right !important;padding-right: 15px;color: #fff;" colspan="12" rowspan="1">
                  درخواست‌های فعال
                </th>
              </tr>





              <!--begin::Table row-->
              <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
                <th style="width:44px;">شماره درخواست</th>
                <th>تاریخ ایجاد</th>
                <th>ایجاد کننده</th>
                <th>تاریخ ارجاع</th>
                <th>ارجاع دهنده</th>
                <th>اخذ کننده</th>
                <th>توضیحات</th>
                <th>مشاهده</th>
              </tr>
              <!--end::Table row-->
              </thead>
              <!--end::Table head-->
              <!--begin::Table body-->
              <tbody class="fw-semibold text-gray-600">


              <!--begin::Table row-->
              <tr *ngFor="let item of newData;let i = index">
                <!--begin::محصولات=-->
                <td>
                  <div style="text-align: right;margin-right: 10px;">
                    {{item.shomareDarkhast}}
                  </div>
                </td>
                <!--end::محصولات=-->
                <!--begin::SKU=-->
                <td class="text-end pe-0">
                  <span class="fw-bold">{{item.shahr}}</span>
                </td>
                <!--end::SKU=-->
                <!--begin::rating-->
                <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                  {{item.noeDarkhast}}
                </td>
                <!--end::rating-->


                <!--begin::rating-->
                <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                  {{item.marhale}}
                </td>
                <!--end::rating-->


                <!--begin::rating-->
                <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                  {{item.ijadKonande}}
                </td>
                <!--end::rating-->


                <!--begin::rating-->
                <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                  {{item.erjaDahande}}
                </td>
                <!--end::rating-->


                <!--begin::rating-->
                <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                  {{item.tarikhErja}}
                </td>
                <!--end::rating-->


                <!--begin::rating-->
                <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                  {{item.khande}}
                </td>

              </tr>
              <!--end::Table row-->


              </tbody>
              <!--end::Table body-->
            </table>
            <!--end::Table-->
          </div>



<!--        /////////table-->












        </fieldset>
      </form>

      <!-- END PAGE CONTENT INNER -->
    </div>
  </div>
</div>











