
<div class="hDicTitle">
  <h3 class="hTitle">درخواست بررسی صورتحساب - مرحله بررسی مسئول تشخیص - شماره درخواست 60232027347 -
    اشتراک 601214</h3>
</div>
<div style="margin-top: 20px;margin-bottom: 20px;">
  <!--begin::Content-->
  <div id="kt_app_content" class="app-content flex-column-fluid">
    <!--begin::Content container-->
    <div id="kt_app_content_container" class="app-container container-xxl">
      <!--begin::محصولات-->
      <div class="card card-flush">
    <div class="divTitle">
      <h3>اطلاعات تقاضا</h3>
    </div>
        <app-mateghazie-darkhast></app-mateghazie-darkhast>
        <app-etelaat-moshtarek></app-etelaat-moshtarek>
        <app-file-haie-peivast></app-file-haie-peivast>
        <app-eghdamat-marbot-be-kartabl></app-eghdamat-marbot-be-kartabl>
      </div>
      <!--end::محصولات-->
    </div>
    <!--end::Content container-->
  </div>
  <!--end::Content-->

</div>





