<h3>آمار و درخواستها</h3>

<div class="tab-pane fade active show" id="kt_forms_widget_1_tab_content_1">
<!--begin::Input group-->
<div class="form-floating  rounded mb-7 divSelect">
  <select class="form-select form-select-lg mb-3 select" aria-label=".form-select-lg example">
    <option selected>همه</option>
    <option value="1">فریمان</option>
    <option value="2">فرهادگرد</option>
    <option value="3">قلندرآباد</option>
  </select>
  <label>انتخاب شهر</label>
</div>
</div>
<!--end::Input group-->

<hr style="margin-top: 53px;" />


