.h3{
  float: right;
  font-size: 18px;
  font-weight: 700!important;
  margin-top: 20px;
  padding-right: 10px;
  width: 100%;
  color: #e87e04!important;
}
.container-fluid{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.form-group{
  margin-bottom: 15px;
  min-height: 20px;
  float: right;
  padding: 5px;
}
.form-group div{
  float: right;
}
.form-group label{
  float: right;
}
.btn-default {
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}
.btn-sm, .btn-xs {
  font-size: 13px;
  line-height: 1.5;
  padding: 4px 10px 5px;
}
.col-md-12 {
  width: 100%;
}
.btn-circle {
  border-radius: 25px!important;
}
label {
  font-size: 14px;
  font-weight: 400;
}
.accordion .panel .panel-title {
  padding: 0;
}
.panel-title {
  font-size: 16px;
  margin-bottom: 0;
  margin-top: 0;
}
.panel-title {
  color: inherit;
}
.accordion-item{
  background-color: #fff;
  border-bottom:1px solid rgba(0,0,0,.125)!important; ;
}
