<h3 class="non-float-right h3">اطلاعات مشترک</h3>
<div class="bd-example bg-light" style="margin-bottom: 10px;">
  <div class="accordion accordion-flush" id="accordionFlushExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingOne">
        <button style="background: #fff;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
        اطلاعات اشتراک و تماس
        </button>
      </h2>
      <div  id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample" style="margin-top: 10px;">
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                شماره شناسه:
              </label>
              <div class="col-md-5 bold size10pt">
                140188278
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                شماره اشتراک:
              </label>
              <div class="col-md-5 bold size10pt">
                601214
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                پرونده:
              </label>
              <div class="col-md-5 bold size10pt">
                601214
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                شماره ملک:
              </label>
              <div class="col-md-5 bold size10pt">
                60003885
              </div>

            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                ردیف فاضلاب:
              </label>
              <div class="col-md-5 bold size10pt">
                0
              </div>
            </div>

            <div class="form-group col-md-4">
              <a style="text-decoration:none;" href="/Subscriber/EditPerson?Guid=be2a35ba-53b5-478d-8e06-64a83b713430" target="_blank">
                <label class="control-label col-md-7">
                  نام:
                </label>
                <div class="col-md-5 bold size10pt">
                  ابراهیم چوبداری
                </div>
              </a>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                موبایل مصرف کننده:
              </label>
              <div class="col-md-5 bold">
                9153122742
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                موبایل مالک:
              </label>
              <div class="col-md-5 bold">

              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                موبایل مدیر ساختمان:
              </label>
              <div class="col-md-5 bold">

              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                کدپستی:
              </label>
              <div class="col-md-5 bold size10pt">

              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-5">
                آدرس:
              </label>
              <div class="col-md-7 bold size10pt">
                اقباليه
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                ردیف قرائت:
              </label>
              <div class="col-md-5 bold size10pt">
                602019110000
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                مسیر:
              </label>
              <div class="col-md-5 bold size10pt">
                محدوده قرائت  1 روز کاری 4 شهر فرهادگرد
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                رمز رایانه:
              </label>
              <div class="col-md-5 bold size10pt">
                9429
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                شناسه قبض:
              </label>
              <div class="col-md-5 bold size10pt">

              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-4">
                برچسب‌ها:
              </label>
              <div class="col-md-8 bold size10pt">
                <span class="badge badge-success bold">سازمان-بدون سازمان</span>
              </div>
            </div>
            <div class="form-group col-md-4 ">
              <label class="control-label col-md-7">
                تاریخ آخرین تخفیف ترکیدگی:
              </label>
              <div class="col-md-5 bold size10pt">

              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                اشتراک مادر:
              </label>
              <div class="col-md-5 bold size10pt">

              </div>
            </div>

          </div>




        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingTwo">
        <button style="background: #fff;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
          کاربری،واحدها و نصب
        </button>
      </h2>
      <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample" style="margin-top: 10px;">
        <div class="panel-body">
          <div class="row">
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                آب بهاء:
              </label>
              <div class="col-md-5 bold size10pt">
                مسکونی
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                کاربری فرعی:
              </label>
              <div class="col-md-5 bold size10pt">

              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                وضعیت ملک:
              </label>
              <div class="col-md-5 bold size10pt">
                عادی
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                واحد مسکونی:
              </label>
              <div class="col-md-5 bold size10pt">
                1
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                واحد تجاری:
              </label>
              <div class="col-md-5 bold size10pt">
                0
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                واحد عمومی:
              </label>
              <div class="col-md-5 bold size10pt">
                0
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                ظرفیت قراردادی:
              </label>
              <div class="col-md-5 bold size10pt">
                0
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                واحدهای عدم سکونت:
              </label>
              <div class="col-md-5 bold size10pt">
                0
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                عرصه:
              </label>
              <div class="col-md-5 bold size10pt">
                200
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                اعیان:
              </label>
              <div class="col-md-5 bold size10pt">
                100
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                قطر انشعاب:
              </label>
              <div class="col-md-5 bold size10pt">
                1/2 تکی
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                تاریخ اولین نصب کنتور:
              </label>
              <div class="col-md-5 bold size10pt">
                1392/03/28
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                تاریخ آخرین تعویض کنتور:
              </label>
              <div class="col-md-5 bold size10pt">
                1392/03/28
              </div>
            </div>
            <div class="form-group col-md-4" style="font-weight:bold;">
              <label class="control-label col-md-7">
                فروش فاضلاب:
              </label>
              <div class="col-md-5 bold size10pt">
                انجام نشده
              </div>
            </div>
            <div class="form-group col-md-4" style="font-weight:bold;">
              <label class="control-label col-md-7">
                نصب فاضلاب:
              </label>
              <div class="col-md-5 bold size10pt">
                ندارد
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                تاریخ نصب فاضلاب:
              </label>
              <div class="col-md-5 bold size10pt">

              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                وضعیت اشتراک:
              </label>
              <div class="col-md-5 bold size10pt">
                وصل
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="flush-headingThree">
        <button style="background: #fff;" class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
         بدهی و قرائت
        </button>
      </h2>
      <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample" style="margin-top: 10px;">
        <div class="panel-body">

          <div class="row">
            <div class="form-group col-md-4" style="font-weight:bold;">
              <label class="control-label col-md-7">
                بدهی قطعی آب بهاء :
              </label>
              <div class="col-md-5 bold size10pt">
                130 ریال
              </div>
            </div>
            <div class="form-group col-md-4" style="font-weight:bold;">
              <label class="control-label col-md-7">
                مانده بدهی فروش انشعاب آب :
              </label>
              <div class="col-md-5 bold size10pt">
                0 ریال
              </div>
            </div>
            <div class="form-group col-md-4" style="font-weight:bold;">
              <label class="control-label col-md-7">
                مانده بدهی فروش انشعاب فاضلاب :
              </label>
              <div class="col-md-5 bold size10pt">
                0 ریال
              </div>
            </div>
            <div class="form-group col-md-4" style="font-weight:bold;">
              <label class="control-label col-md-7">
                مانده بدهی خدمات پس از فروش :
              </label>
              <div class="col-md-5 bold size10pt">
                0 ریال
              </div>
            </div>

            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                تعداد روز بدهی:
              </label>
              <div class="col-md-5 bold size10pt">
                0
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                تعداد دوره بدهی:
              </label>
              <div class="col-md-5 bold size10pt">
                0
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                تاریخ بدهی:
              </label>
              <div class="col-md-5 bold size10pt">

              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                آخرین تاریخ قرائت:
              </label>
              <div class="col-md-5 bold size10pt">
                1401/11/20-09:15:40
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                آخرین عدد قرائت:
              </label>
              <div class="col-md-5 bold size10pt">
                231
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                آخرین وضعیت قرائت:
              </label>
              <div class="col-md-5 bold size10pt">
                عادی
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                روش آخرین قرائت:
              </label>
              <div class="col-md-5 bold size10pt">
                دوره‌ای
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                تعداد روز عدم قرائت:
              </label>
              <div class="col-md-5 bold size10pt">
                45
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                مصرف ماهانه 3 دوره اخیر:
              </label>
              <div class="col-md-5 bold size10pt">
                9
              </div>
            </div>
            <div class="form-group col-md-4">
              <label class="control-label col-md-7">
                آخرین تاریخ پرداخت آب‌بها:
              </label>
              <div class="col-md-5 bold size10pt">
                1401/11/30
              </div>
            </div>

            <div class="form-group col-md-4">
              <button type="button" class="btn btn-circle btn-primary btn-sm ReplicaCostEvent ListOfBillEvent" id="ButtonPrintListOfBills"><i class="fa fa-print"></i> چاپ صورتحساب قبوض</button>
            </div>
            <div class="form-group col-md-4">
              <button type="button" class="btn btn-circle btn-primary btn-sm ReplicaCostEvent ListOfPaymentEvent" id="ButtonPrintListOfPayment"><i class="fa fa-print"></i> چاپ لیست پرداختی ها</button>
            </div>
            <div class="row">
              <div id="_ListOfBills_Partial_Div" style="display: none;width:250px;">
                <div class="editor-field editor-field-Prompt-Form col-md-12">
                  از تاریخ قرائت:
                  <select id="FromYearPeriodeCode" name="FromYearPeriodeCode" selectedindex="0"><option value="9rCK2R4OE0po1xrWy1wNH1mYqAo2ooto2oot">1392/04/10</option>
                    <option value="OFKuVJqQ7GKmn3e4A306j27rOgo2ooto2oot">1392/06/10</option>
                    <option value="Dfy0dfLUTunHE6amn3e4IsGTCQo2ooto2oot">1392/08/10</option>
                    <option value="9gbEQd33dGK6uVTiSefGKQo2ooto2oot">1392/10/10</option>
                    <option value="PZkK6vK1qukHfwNNqsD9dQo2ooto2oot">1392/12/10</option>
                    <option value="OgGOSydWJ915kOIaJzS7Mgo2ooto2oot">1393/02/10</option>
                    <option value="v1stoQB3ut8NhE0D5mUlCAo2ooto2oot">1393/04/10</option>
                    <option value="7vpqxLa5KnfibdK1iQyxZgo2ooto2oot">1393/06/10</option>
                    <option value="cmgmEFkt8v5E9tVmn3e4P36t3wo2ooto2oot">1393/08/10</option>
                    <option value="IUpul5S9KcCrX8j4bQaiigo2ooto2oot">1393/10/10</option>
                    <option value="HE3Lbn2jLX7po1xrUywU06EKfwo2ooto2oot">1393/12/10</option>
                    <option value="9mRrLY0PAu300DuN3bmn3e4po1xrqwo2ooto2oot">1394/02/10</option>
                    <option value="wnqttaDud5Cf6O5jhadEmAo2ooto2oot">1394/04/10</option>
                    <option value="OLRh9I7utsuSr3ELEcON3go2ooto2oot">1394/06/10</option>
                    <option value="whr5mn3e4B65Gmn3e4HymT74br26Mwo2ooto2oot">1394/08/10</option>
                    <option value="YRJENmDpY9MdNXpo1xrKPn4eego2ooto2oot">1394/10/10</option>
                    <option value="DWVarP0OAqi4QdNHBupo1xrSjAo2ooto2oot">1394/12/10</option>
                    <option value="9yRysMoFvnzxfzy3focmn3e4jAo2ooto2oot">1395/02/10</option>
                    <option value="tmn3e4DOrKzD4YbyJB8lFzAcTAo2ooto2oot">1395/04/10</option>
                    <option value="Zr9OAzyaKVb09CPEITP5Jwo2ooto2oot">1395/06/10</option>
                    <option value="kXkPx2KxfeUxiRflrp3l9Ao2ooto2oot">1395/08/10</option>
                    <option value="RxFG4dX8xIu9R2xbnpo1xrmn3e4QzQo2ooto2oot">1395/10/10</option>
                    <option value="ksTKnBiCOiyl6W9J4qYQ5Ao2ooto2oot">1395/12/10</option>
                    <option value="raumn3e4UOKZJAeI57TP0yD36Qo2ooto2oot">1396/02/10</option>
                    <option value="po1xrwgMJHhLuTAexBUL83XCwgo2ooto2oot">1396/04/10</option>
                    <option value="5FotlpX40A4qzJk0dNV2Two2ooto2oot">1396/06/10</option>
                    <option value="Wf7aHeYU9Oc2mlpo1xrqzI8iaQo2ooto2oot">1396/08/10</option>
                    <option value="FRBumcf7eM6o6wWb3b7EdAo2ooto2oot">1396/10/10</option>
                    <option value="EEemn3e42E3s7BPdtemr6mn3e4d0WQo2ooto2oot">1396/12/10</option>
                    <option value="UiSS3Txrmn3e4g4lPcyiwP8SAwo2ooto2oot">1397/02/10</option>
                    <option value="zgZyvH9RTOxi7po1xrLkwgVA0Qo2ooto2oot">1397/04/10</option>
                    <option value="U1KOAncj8ATCrK3kQ6C8Vgo2ooto2oot">1397/06/10</option>
                    <option value="8bjZLGHE6qfw78v7W27lvgo2ooto2oot">1397/08/10</option>
                    <option value="y9po1xr69knhFWtMWuspo1xrp2X62Ao2ooto2oot">1397/10/10</option>
                    <option value="QDYkYhllMuyFTq3Yl8Ttigo2ooto2oot">1397/12/10</option>
                    <option value="I2Opo1xrMeqChWzCN13YICy5FQo2ooto2oot">1398/02/10</option>
                    <option value="lwkpdW2LNxIEevnfwP6po1xrTAo2ooto2oot">1398/04/10</option>
                    <option value="bMUmTaIqU9S4po1xrzVJXpSYugo2ooto2oot">1398/06/10</option>
                    <option value="sdID3v4mn3e4kgkejszmn3e41J0X8go2ooto2oot">1398/08/10</option>
                    <option value="gHyU00kh4F9YN6sD2NIv8go2ooto2oot">1398/10/10</option>
                    <option value="BMcLQcfPlLyLu5MS1Amwxgo2ooto2oot">1398/12/10</option>
                    <option value="khy7bq8sskJ1G9bmn3e41tXdTwo2ooto2oot">1399/03/27</option>
                    <option value="Pe5rhemn3e4UTmn3e4uwRkWZwrcXNQo2ooto2oot">1399/05/29</option>
                    <option value="4cfDEX5c4ArjjBNBmn3e4YzeNgo2ooto2oot">1399/07/24</option>
                    <option value="znYzzbpo1xruI3qR4GdennU8pgo2ooto2oot">1399/10/01</option>
                    <option value="3yemn3e4U69Dr7FHarNynl7AGwo2ooto2oot">1399/11/21</option>
                    <option value="W7wV0k4Nmw2nDxY2xrHccgo2ooto2oot">1400/01/23</option>
                    <option value="kFRfKpo1xr31pNkWonFVozcDZQo2ooto2oot">1400/03/24</option>
                    <option value="NccnVXoGhp9mn3e406c6Mbgzqwo2ooto2oot">1400/05/26</option>
                    <option value="1mn3e4BzYbpo1xrMQX3L8xWCveImn3e42Qo2ooto2oot">1400/07/17</option>
                    <option value="Vrmn3e48w1po1xrjXOlvGA15cTeBrwo2ooto2oot">1400/09/14</option>
                    <option value="kzF0atRFEckUhms6hLWlyQo2ooto2oot">1400/11/13</option>
                    <option value="fhHZwmn3e4vqWllmn3e4ADmYgYoTmwo2ooto2oot">1401/01/18</option>
                    <option value="IdDxIGImz4ApYyNYoWM63Qo2ooto2oot">1401/03/19</option>
                    <option value="y91sNGixfipo1xre7Q10PTbsrgo2ooto2oot">1401/05/12</option>
                    <option value="xCYgNm7nYZ1MCpo1xrGMzx3TGwo2ooto2oot">1401/08/07</option>
                    <option value="ckuONR1I0dIDMosLBQkpo1xr4go2ooto2oot">1401/09/29</option>
                    <option value="zcznLZAPtmUUgpo1xrh2CJW35Qo2ooto2oot">1401/11/20</option>
                  </select>
                </div>
                <div class="editor-field editor-field-Prompt-Form col-md-12 last">
                  تا تاریخ قرائت:
                  <select id="ToYearPeriodeCode" name="ToYearPeriodeCode"><option value="9rCK2R4OE0po1xrWy1wNH1mYqAo2ooto2oot">1392/04/10</option>
                    <option value="OFKuVJqQ7GKmn3e4A306j27rOgo2ooto2oot">1392/06/10</option>
                    <option value="Dfy0dfLUTunHE6amn3e4IsGTCQo2ooto2oot">1392/08/10</option>
                    <option value="9gbEQd33dGK6uVTiSefGKQo2ooto2oot">1392/10/10</option>
                    <option value="PZkK6vK1qukHfwNNqsD9dQo2ooto2oot">1392/12/10</option>
                    <option value="OgGOSydWJ915kOIaJzS7Mgo2ooto2oot">1393/02/10</option>
                    <option value="v1stoQB3ut8NhE0D5mUlCAo2ooto2oot">1393/04/10</option>
                    <option value="7vpqxLa5KnfibdK1iQyxZgo2ooto2oot">1393/06/10</option>
                    <option value="cmgmEFkt8v5E9tVmn3e4P36t3wo2ooto2oot">1393/08/10</option>
                    <option value="IUpul5S9KcCrX8j4bQaiigo2ooto2oot">1393/10/10</option>
                    <option value="HE3Lbn2jLX7po1xrUywU06EKfwo2ooto2oot">1393/12/10</option>
                    <option value="9mRrLY0PAu300DuN3bmn3e4po1xrqwo2ooto2oot">1394/02/10</option>
                    <option value="wnqttaDud5Cf6O5jhadEmAo2ooto2oot">1394/04/10</option>
                    <option value="OLRh9I7utsuSr3ELEcON3go2ooto2oot">1394/06/10</option>
                    <option value="whr5mn3e4B65Gmn3e4HymT74br26Mwo2ooto2oot">1394/08/10</option>
                    <option value="YRJENmDpY9MdNXpo1xrKPn4eego2ooto2oot">1394/10/10</option>
                    <option value="DWVarP0OAqi4QdNHBupo1xrSjAo2ooto2oot">1394/12/10</option>
                    <option value="9yRysMoFvnzxfzy3focmn3e4jAo2ooto2oot">1395/02/10</option>
                    <option value="tmn3e4DOrKzD4YbyJB8lFzAcTAo2ooto2oot">1395/04/10</option>
                    <option value="Zr9OAzyaKVb09CPEITP5Jwo2ooto2oot">1395/06/10</option>
                    <option value="kXkPx2KxfeUxiRflrp3l9Ao2ooto2oot">1395/08/10</option>
                    <option value="RxFG4dX8xIu9R2xbnpo1xrmn3e4QzQo2ooto2oot">1395/10/10</option>
                    <option value="ksTKnBiCOiyl6W9J4qYQ5Ao2ooto2oot">1395/12/10</option>
                    <option value="raumn3e4UOKZJAeI57TP0yD36Qo2ooto2oot">1396/02/10</option>
                    <option value="po1xrwgMJHhLuTAexBUL83XCwgo2ooto2oot">1396/04/10</option>
                    <option value="5FotlpX40A4qzJk0dNV2Two2ooto2oot">1396/06/10</option>
                    <option value="Wf7aHeYU9Oc2mlpo1xrqzI8iaQo2ooto2oot">1396/08/10</option>
                    <option value="FRBumcf7eM6o6wWb3b7EdAo2ooto2oot">1396/10/10</option>
                    <option value="EEemn3e42E3s7BPdtemr6mn3e4d0WQo2ooto2oot">1396/12/10</option>
                    <option value="UiSS3Txrmn3e4g4lPcyiwP8SAwo2ooto2oot">1397/02/10</option>
                    <option value="zgZyvH9RTOxi7po1xrLkwgVA0Qo2ooto2oot">1397/04/10</option>
                    <option value="U1KOAncj8ATCrK3kQ6C8Vgo2ooto2oot">1397/06/10</option>
                    <option value="8bjZLGHE6qfw78v7W27lvgo2ooto2oot">1397/08/10</option>
                    <option value="y9po1xr69knhFWtMWuspo1xrp2X62Ao2ooto2oot">1397/10/10</option>
                    <option value="QDYkYhllMuyFTq3Yl8Ttigo2ooto2oot">1397/12/10</option>
                    <option value="I2Opo1xrMeqChWzCN13YICy5FQo2ooto2oot">1398/02/10</option>
                    <option value="lwkpdW2LNxIEevnfwP6po1xrTAo2ooto2oot">1398/04/10</option>
                    <option value="bMUmTaIqU9S4po1xrzVJXpSYugo2ooto2oot">1398/06/10</option>
                    <option value="sdID3v4mn3e4kgkejszmn3e41J0X8go2ooto2oot">1398/08/10</option>
                    <option value="gHyU00kh4F9YN6sD2NIv8go2ooto2oot">1398/10/10</option>
                    <option value="BMcLQcfPlLyLu5MS1Amwxgo2ooto2oot">1398/12/10</option>
                    <option value="khy7bq8sskJ1G9bmn3e41tXdTwo2ooto2oot">1399/03/27</option>
                    <option value="Pe5rhemn3e4UTmn3e4uwRkWZwrcXNQo2ooto2oot">1399/05/29</option>
                    <option value="4cfDEX5c4ArjjBNBmn3e4YzeNgo2ooto2oot">1399/07/24</option>
                    <option value="znYzzbpo1xruI3qR4GdennU8pgo2ooto2oot">1399/10/01</option>
                    <option value="3yemn3e4U69Dr7FHarNynl7AGwo2ooto2oot">1399/11/21</option>
                    <option value="W7wV0k4Nmw2nDxY2xrHccgo2ooto2oot">1400/01/23</option>
                    <option value="kFRfKpo1xr31pNkWonFVozcDZQo2ooto2oot">1400/03/24</option>
                    <option value="NccnVXoGhp9mn3e406c6Mbgzqwo2ooto2oot">1400/05/26</option>
                    <option value="1mn3e4BzYbpo1xrMQX3L8xWCveImn3e42Qo2ooto2oot">1400/07/17</option>
                    <option value="Vrmn3e48w1po1xrjXOlvGA15cTeBrwo2ooto2oot">1400/09/14</option>
                    <option value="kzF0atRFEckUhms6hLWlyQo2ooto2oot">1400/11/13</option>
                    <option value="fhHZwmn3e4vqWllmn3e4ADmYgYoTmwo2ooto2oot">1401/01/18</option>
                    <option value="IdDxIGImz4ApYyNYoWM63Qo2ooto2oot">1401/03/19</option>
                    <option value="y91sNGixfipo1xre7Q10PTbsrgo2ooto2oot">1401/05/12</option>
                    <option value="xCYgNm7nYZ1MCpo1xrGMzx3TGwo2ooto2oot">1401/08/07</option>
                    <option value="ckuONR1I0dIDMosLBQkpo1xr4go2ooto2oot">1401/09/29</option>
                    <option value="zcznLZAPtmUUgpo1xrh2CJW35Qo2ooto2oot" selected="selected">1401/11/20</option>
                  </select>
                </div>
                <p style="width:100%;float:right;">درضمن خواهشمند است نوع خروجی را مشخص کنید</p>
              </div>
              <div id="_ListOfPayment_Partial_Div" style="display: none;" class="col-md-12">
                <h3>نوع وصول</h3>
                <div class="CheckBoxDiv"><input type="checkbox" name="PaymentType" class="icheck" value="e604latmn3e4EmbmcwvYFpOKKwo2ooto2oot">فروش انشعاب آب</div>
                <div class="CheckBoxDiv"><input type="checkbox" name="PaymentType" class="icheck" value="rqFH17NDKBNzYjzcuwczrgo2ooto2oot">فروش انشعاب فاضلاب</div>
                <div class="CheckBoxDiv"><input type="checkbox" name="PaymentType" class="icheck" value="po1xrCirY9blmEohxEZjacX0Hwo2ooto2oot">آب بهاء</div>
                <div class="CheckBoxDiv"><input type="checkbox" name="PaymentType" class="icheck" value="cWpo1xrmWzJU8eRpo1xraj5mn3e4mxqkvgo2ooto2oot">خدمات پس از فروش</div>
                <h3>تاریخ </h3>
                <div class="editor-field editor-field-Prompt-Form col-md-12">
                  تاریخ پرداخت از:
                  <input id="FromDate_ListOfPayment" maxlength="10" name="FromDate_ListOfPayment" onclick="return ShowCalendarWithElement(this);" size="10" type="text" value="1372/01/01">
                </div>
                <div class="editor-field editor-field-Prompt-Form col-md-12 last">
                  تاریخ پرداخت تا:
                  <input id="ToDate_ListOfPayment" maxlength="10" name="ToDate_ListOfPayment" onclick="return ShowCalendarWithElement(this);" size="10" type="text" value="1401/11/30">
                </div>
                <p style="width:100%;float:right;">درضمن خواهشمند است نوع خروجی را مشخص کنید</p>
              </div>
            </div>
            <script>
              var _PeriodePartial_Print_Url = "/Subscriber/PrintListOfBills";
              var _PeriodePartial_PrintPayment_Url = "/NewPayment/SetAddressForRptEndedPayment";
              var _PeriodePartial_CityList = 'fPEUK3TrLCp2pUzomNcduAo2ooto2oot';
              var _PeriodePartial_SubscriberGuId = '8e375547-d44a-4b70-bbb0-69d6aacaa8dc';
              var _PeriodePartial_SubscriberNo = '1633850288';
            </script>
            <script src="/gdist/Scripts/Page/Subscriber/_PrintBillsList.min.js?v=628"></script>

          </div>


        </div>
      </div>
    </div>
  </div>
</div>
