<fieldset id="CartableDiv">
  <legend>اقدامات مربوط به کارتابل</legend>
  <div class="row margin-bottom-10">
    <div class="col-md-12">
      <button class="btn btn-default" data-toggle="tooltip" title="" onclick="return openDataTablesDepthOne('3e4755c8-829e-479e-862b-7ca1fc4a6249', '55732073851', 'بازسازی انشعاب')" data-original-title="مشاهده سابقه">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-align-justify"><line x1="24" y1="10" x2="0" y2="10"></line><line x1="24" y1="6" x2="0" y2="6"></line><line x1="24" y1="14" x2="0" y2="14"></line><line x1="24" y1="18" x2="0" y2="18"></line></svg>
      </button>
      <a id="GetDiv" href="javascript:;" class="clearfix btn blue margin-right-10 inline-block" onclick="return GetRequest();" style="display: inline-block !important"><i class="far fa-arrow-alt-circle-down"></i> اخذ درخواست </a>
      <div id="ReferDiv" class="clearfix col-md-10 margin-right-10 btn-group btn-group-solid" style="display: none;">
        <a href="javascript:;" class="clearfix btn purple" onclick="return ReturnRequest(1);"><i class="far fa-arrow-alt-circle-right"></i> برگشت </a>

        <a href="javascript:;" class="clearfix btn blue float-right" onclick="return ReleaseRequest();"><i class="far fa-arrow-alt-circle-up"></i> رهاسازی </a>
        <a href="javascript:;" class="clearfix btn red float-right" onclick="return RejectRequest(1);"><i class="fas fa-trash-alt"></i> رد درخواست </a>
        <a href="javascript:;" class="clearfix btn btn-default float-right" onclick="return UnReadRequest();"><i class="fas fa-exclamation-circle"></i> خوانده نشده</a>
        <a href="javascript:;" class="clearfix btn btn-primary float-right" onclick="return ReferRequest(1,0);"><i class="far fa-arrow-alt-circle-left"></i> ارجاع</a>
      </div>
    </div>
  </div>
  <div class="row" style="margin-right: 10px!important;">
    <div class="form-group col-md-6">
      کاربر قبلی: تعاونی خاتم الانبیاء - پیمانکار فرهادگرد
    </div>
    <div class="form-group col-md-6">
      تاریخ ارجاع: 1402/01/07-09:13:41
    </div>
  </div>
  <div class="row" style="margin-right: 10px!important;">
    <div class="form-group col-md-12">
      متن پاراف: 55732073851
    </div>
  </div>

</fieldset>
