<fieldset id="CartableDiv">
  <legend>اقدامات مربوط به کارتابل</legend>
  <div class="row margin-bottom-10">
    <div class="col-md-12">
      <button data-bs-toggle="modal" data-bs-target="#kt_modal_new_card" class="btn btn-default" data-toggle="tooltip" title=""  title="مشاهده سابقه">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="cursor-pointer feather feather-align-justify"><line x1="24" y1="10" x2="0" y2="10"></line><line x1="24" y1="6" x2="0" y2="6"></line><line x1="24" y1="14" x2="0" y2="14"></line><line x1="24" y1="18" x2="0" y2="18"></line></svg>
      </button>
      <a id="GetDiv" href="javascript:;" class="clearfix btn blue margin-right-10 inline-block" onclick="return GetRequest();" style="display: inline-block !important"><i class="far fa-arrow-alt-circle-down"></i> اخذ درخواست </a>
      <div id="ReferDiv" class="clearfix col-md-10 margin-right-10 btn-group btn-group-solid" style="display: none;">
        <a href="javascript:;" class="clearfix btn purple" onclick="return ReturnRequest(1);"><i class="far fa-arrow-alt-circle-right"></i> برگشت </a>

        <a href="javascript:;" class="clearfix btn blue float-right" onclick="return ReleaseRequest();"><i class="far fa-arrow-alt-circle-up"></i> رهاسازی </a>
        <a href="javascript:;" class="clearfix btn red float-right" onclick="return RejectRequest(1);"><i class="fas fa-trash-alt"></i> رد درخواست </a>
        <a href="javascript:;" class="clearfix btn btn-default float-right" onclick="return UnReadRequest();"><i class="fas fa-exclamation-circle"></i> خوانده نشده</a>
        <a href="javascript:;" class="clearfix btn btn-primary float-right" onclick="return ReferRequest(1,0);"><i class="far fa-arrow-alt-circle-left"></i> ارجاع</a>
      </div>
    </div>
  </div>
  <div class="row" style="margin-right: 10px!important;">
    <div class="form-group col-md-6">
      کاربر قبلی: تعاونی خاتم الانبیاء - پیمانکار فرهادگرد
    </div>
    <div class="form-group col-md-6">
      تاریخ ارجاع: 1402/01/07-09:13:41
    </div>
  </div>
  <div class="row" style="margin-right: 10px!important;">
    <div class="form-group col-md-12">
      متن پاراف: 55732073851
    </div>
  </div>

</fieldset>


<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->

<!--begin::Modal - کارت جدید-->
<div class="modal fade" id="kt_modal_new_card" tabindex="-1" aria-hidden="true">
  <!--begin::Modal dialog-->
  <div class="modal-dialog modal-dialog-centered" style="width: 950px !important;">
    <!--begin::Modal content-->
    <div class="modal-content">
      <!--begin::Modal header-->
      <div class="modal-header">
        <!--begin::Modal title-->
        <h3>سابقه چرخش درخواست 55132404214 - بازسازی انشعاب</h3>
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-1">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
									<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
								</svg>
							</span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <!--end::Modal header-->
      <!--begin::Modal body-->
      <div class="modal-body scroll-y">

        <div id="slide">
          <!--begin::Table-->
          <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
                 [dtTrigger]="dtTrigger">
            <!--begin::Table head-->
            <thead style="background-color: #d9edf7;">

            <!--begin::Table row-->
            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
              <th style="width: 250px;">تاریخ ایجاد</th>
              <th class="text-end" style="width: 100px;">مرحله</th>
              <th class="text-end" style="width: 200px;">اخذ کننده</th>
              <th class="text-end" style="width: 200px;">وضعیت</th>
              <th style="width: 150px;">پاراف</th>
              <th style="width: 150px;">تاریخ اتمام</th>
              <th style="width: 150px;">مشاهده</th>
              <th style="width: 100px;">سابقه</th>
            </tr>
            <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="fw-semibold text-gray-600">


            <!--begin::Table row-->
            <tr *ngFor="let item of data;let i = index">
              <!--begin::محصولات=-->
              <td>
                <div style="text-align: right;margin-right: 10px;">
                  {{item.tarikhIjad}}
                </div>
              </td>
              <!--end::محصولات=-->
              <!--begin::SKU=-->
              <td class="text-end pe-0">
                <span class="fw-bold">{{item.marhale}}</span>
              </td>
              <!--end::SKU=-->
              <!--begin::rating-->
              <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                {{item.akhzKonande}}
              </td>
              <!--end::rating-->
              <!--begin::rating-->
              <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                {{item.status}}
              </td>

              <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                {{item.paraf}}
              </td>

              <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                {{item.tarikhEtmam}}
              </td>

              <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                <button class="btn btn-primary">مشاهده</button>
              </td>
              <!--begin::نشان داد=-->
              <td  class="text-end pe-0" data-bs-toggle="modal" data-bs-target="#kt_modal_view_users">
                <button  data-bs-toggle="modal" data-bs-target="#kt_modal_new_card_roidad" class="btn btn-default" data-toggle="tooltip" title=""  title="رویدادها">
                  <svg style="cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24"
                       height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                       stroke-linecap="round" stroke-linejoin="round" class="feather feather-align-justify">
                    <line x1="24" y1="10" x2="0" y2="10"></line>
                    <line x1="24" y1="6" x2="0" y2="6"></line>
                    <line x1="24" y1="14" x2="0" y2="14"></line>
                    <line x1="24" y1="18" x2="0" y2="18"></line>
                  </svg>
                </button>
              </td>
            </tr>
            <!--end::Table row-->
            </tbody>
            <!--end::Table body-->
          </table>
          <!--end::Table-->

          <div style="width: 100%;float: right;background-color: #d9edf7;height: auto;padding:10px;">
            کاربران اموری دارای دسترسی به این مرحله: محمد ظفرزاده - محمد غلامی کته شمشیر - حسن حاجی محمدی - علی عینی - معصومه سخاوتی - محمدمهدی مهدیزاده
          </div>


        </div>
      </div>
      <!--end::Modal body-->
    </div>
    <!--end::Modal content-->
  </div>
  <!--end::Modal dialog-->
</div>
<!--end::Modal - کارت جدید-->


<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->
<!--*****************************************-->

<!--begin::Modal - کارت جدید-->
<div class="modal fade" id="kt_modal_new_card_roidad" tabindex="-1" aria-hidden="true">
  <!--begin::Modal dialog-->
  <div class="modal-dialog modal-dialog-centered" style="width: 950px !important;">
    <!--begin::Modal content-->
    <div class="modal-content">
      <!--begin::Modal header-->
      <div class="modal-header">
        <!--begin::Modal title-->
        <h4 class="float-none modal-ref-title">رویدادها در این مرحله</h4>
        <!--end::Modal title-->
        <!--begin::Close-->
        <div class="btn btn-sm btn-icon btn-active-color-primary" data-bs-dismiss="modal">
          <!--begin::Svg Icon | path: icons/duotune/arrows/arr061.svg-->
          <span class="svg-icon svg-icon-1">
								<svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
									<rect opacity="0.5" x="6" y="17.3137" width="16" height="2" rx="1" transform="rotate(-45 6 17.3137)" fill="currentColor" />
									<rect x="7.41422" y="6" width="16" height="2" rx="1" transform="rotate(45 7.41422 6)" fill="currentColor" />
								</svg>
							</span>
          <!--end::Svg Icon-->
        </div>
        <!--end::Close-->
      </div>
      <!--end::Modal header-->
      <!--begin::Modal body-->
      <div class="modal-body scroll-y">

        <div id="slide">
          <!--begin::Table-->
          <table class="table table-striped table-bordered table-sm row-border hover" datatable [dtOptions]="dtOptions"
                 [dtTrigger]="dtTrigger">
            <!--begin::Table head-->
            <thead style="background-color: #d9edf7;">

            <!--begin::Table row-->
            <tr class="text-start text-gray-400 fw-bold fs-7 text-uppercase gs-0">
              <th style="width: 150px;">تاریخ </th>
              <th class="text-end" style="width:250px;">نام</th>
              <th class="text-end" style="width: 200px;">توضیحات</th>
            </tr>
            <!--end::Table row-->
            </thead>
            <!--end::Table head-->
            <!--begin::Table body-->
            <tbody class="fw-semibold text-gray-600">


            <!--begin::Table row-->
            <tr *ngFor="let item of roidadHa;let i = index">
              <!--begin::محصولات=-->
              <td>
                <div style="text-align: right;margin-right: 10px;">
                  {{item.date}}
                </div>
              </td>
              <!--end::محصولات=-->
              <!--begin::SKU=-->
              <td class="text-end pe-0">
                <span class="fw-bold">{{item.name}}</span>
              </td>
              <!--end::SKU=-->
              <!--begin::rating-->
              <td class="text-end pe-0" data-order="rating-4" data-filter="rating-4">
                {{item.tozihat}}
              </td>
              <!--end::rating-->

            </tr>
            <!--end::Table row-->
            </tbody>
            <!--end::Table body-->
          </table>
          <!--end::Table-->



        </div>
      </div>
      <!--end::Modal body-->
    </div>
    <!--end::Modal content-->
  </div>
  <!--end::Modal dialog-->
</div>
<!--end::Modal - کارت جدید-->
