
@font-face {
  font-family: 'iransans';
  src: url('./assets/fonts/IRANSansWeb.woff') format('woff'); /* Pretty Modern Browsers */
}
.p-paginator-rpp-options span{
  padding-right: 10px !important;
}
.p-datatable-header{
  background-color: #d9edf7 !important;
}
.p-datatable .p-datatable-thead > tr > th{
  background-color: #d9edf7 !important;
  border: 1px solid rgba(0, 0, 0, 0.3)!important;
}
