<div style="overflow-y: scroll;">
  <div class="container-fluid">
    <div class="row ">
      <div class="col-md-12" style="margin-bottom: 10px;margin-right: -13px;">
        <h3 class="h3">متقاضی درخواست</h3>
      </div>

      <div class="form-group col-md-3">
        <label class="control-label col-md-5">
          کد ملی:
        </label>
        <div class="col-md-7">

        </div>
      </div>
      <div class="form-group col-md-4">
        <label class="control-label col-md-5">
          نام درخواست کننده:
        </label>
        <div class="col-md-7">
          ابراهیم چوبداری
        </div>
      </div>
      <div class="form-group col-md-3">
        <label class="control-label col-md-5">
          تلفن همراه:
        </label>
        <div class="col-md-7">
          9153122742
        </div>
      </div>
      <div class="form-group col-md-2">
        <a href="/Subscriber/EditPerson?Guid=be2a35ba-53b5-478d-8e06-64a83b713430"
           class="btn btn-circle btn-success btn-sm" target="_blank">
          <i class="fas fa-eye"></i> مشاهده شخص
        </a>
      </div>
      <div class="form-group col-md-12">
        <label class="control-label col-md-3">
          گزارش دهنده:
        </label>
        <div class="col-md-6" style="margin-top: -10px;">
          <button class="btn btn-circle btn-default btn-sm">
            <i class="fas fa-plus" style="vertical-align: middle;margin-left: 8px;"></i>افزودن گزارش دهنده
          </button>
        </div>
      </div>
    </div>
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="form-group col-md-8">
        <label class="control-label col-md-4">
          توضیحات:
        </label>
        <div class="col-md-8">
          <textarea class="form-control" id="TblRequest_Description" name="TblRequest_Description"
                    style="height:50px;"></textarea>
        </div>
      </div>
      <div class="form-group col-md-4">
        <button type="button" style="margin-right:10px" class="btn btn-circle btn-primary btn-sm"><i
          class="fas fa-edit"></i> ثبت و ویرایش توضیحات
        </button>

      </div>
    </div>


  </div>

</div>
